<div class='container col-md-6 shadow p-3 my-4 bg-body rounded'>
    <form class='form-group row'>
        <div class='col-md-10 mx-auto m-4'>
            <label class='form-label'>Nombre</label>
            <input class='form-control'>
        </div>
        <div class='col-md-10 mx-auto m-4'>
            <label class='form-label'>Correo</label>
            <input class='form-control'>
        </div>
        <div class='col-md-10 mx-auto m-4'>
            <label>Password</label>
            <input type='password' class='form-control'>
        </div>
        <div class='col-md-10 mx-auto m-4'>
            <button type="button" class='btn btn-primary btn-lg btn-block col-md-12'>Login</button>
        </div>
    </form>
    
</div>