<div class="background text-center ">
    <form
    class="form-signin animated fadeIn"
    autocomplete="off"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    >
    <img class="img" src='../../../assets/icono.png' alt='logo'>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label class="sr-only" for="inputEmail">Email Address</label>
    <input
        type="email"
        class="form-control mb-2"
        id="inputEmail"
        placeholder="Email Address"
        formControlName="email"
        [class.is-invalid]="emailValidate"
    />
    <label class="sr-only" for="inputPassword">Password</label>
    <input
        type="password"
        class="form-control mb-3"
        id="inputPassword"
        placeholder="Password"
        formControlName="password"
        [class.is-invalid]="passwordValidate"
    />
    <div>
        <button type="submit" class='btn btn-lg btn-primary btn-block '>
            Sign in
        </button>
    </div>
    <div>
        <a routerLink="/Registro">Don't you have an account?</a>
    </div>
    <div>
        <button (click)='showQR()' class='btn btn-primary m-4'>SignIn with QR</button>
    </div>
    <div *ngIf='wantLogin' class='container shadow p-3 mb-5 bg-body rounded'>
        <qr-code [value]='QR'>{{QR}}</qr-code>
        <p class='text-black-50 m-2'>
            Escane el codigo QR con la aplicacion
        </p>
        <button class='btn btn-danger float-left' (click)='hideQR()'>Cerrar</button>
    </div>
    <p class="mt-4 mb-3 text-muted">© Nameless Group - 2020</p>
    </form>
</div>
